NODE_ENV=development
PORT=3000
LOG_LEVEL=info
ADMIN_API_KEY=change-me
DATABASE_PATH=./data/farm-crawler.db

CRAWLER_USER_AGENT=FarmCrawler/1.0 (+https://github.com/NTA1210/farm_crawler)
CRAWLER_DELAY_MS=1500
CRAWLER_TIMEOUT_MS=30000
CRAWLER_MAX_RETRIES=3
CRAWLER_MAX_PAGES=3
CRAWLER_MAX_PAGE_BYTES=20971520
RESPECT_ROBOTS_TXT=true
ALLOW_PRIVATE_NETWORK=false
DOWNLOAD_IMAGES=true
ENRICH_PROVIDER_WEBSITE_LOGO=false
MAX_IMAGE_BYTES=5242880
VIETNAM_ONLY=true

STORAGE_DRIVER=local
LOCAL_STORAGE_DIR=./storage
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_PUBLIC_URL=
CLOUDFLARE_R2_ENDPOINT=

AGRI_VIETNAM_START_URL=https://agri-vietnam.com.vn/exhibitor-list-2026/
HORTEX_START_URL=https://hortex-exhibitions.com/visiting/
PPD_SEEDS_START_URLS=https://www.ppd.gov.vn/tin-moi-nhat-289/danh-sach-giong-cay-trong-cac-loai-duoc-cong-nhan-chinh-thuc-cap-quyet-dinh-luu-hanh.html
PPD_FERTILIZERS_START_URL=https://www.ppd.gov.vn/ds-co-so-san-xuat-phan-bon-duoc-cap-giay-chung-nhan-du-dieu-kien.html
YELLOW_PAGES_SEEDS_URL=https://www.yellowpages.vn/cls/487594/hat-giong-nong-san.html
YELLOW_PAGES_EQUIPMENT_URL=https://www.yellowpages.vn/cls/12360/nong-nghiep-may-moc-va-thiet-bi-nong-nghiep.html
YELLOW_PAGES_GREENHOUSE_URL=https://www.yellowpages.vn/cls/492871/nha-kinh-nha-luoi-thiet-bi-va-vat-tu-nha-kinh-nha-luoi.html
YELLOW_PAGES_FERTILIZERS_URL=https://www.yellowpages.vn/cls/99160/phan-bon-cong-ty-phan-bon-san-xuat-va-ban-buon.html
